NODE_ENV=development
PORT=3001
CORS_ORIGINS=http://localhost:3005

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=
DB_DATABASE_NAME=let_eat_go
DB_SYNCHRONIZE=false

JWT_SECRET=

AWS_REGION=ap-northeast-2
AWS_BUCKET_NAME=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

AI_SERVICE_URL=http://localhost:8000
